
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <h3>
                <span class="label label-default">Logs</span>
            </h3>
        </li>
    </ol>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Log Time</th>
                <th>Log</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <th scope="row">1</th>
                <td>2018-03-19:12:12:12</td>
                <td>Added accounts, to verify after some time.</td>
            </tr>
        </tbody>
    </table>
    