
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <h3>
                <span class="label label-default">My Account</span>
            </h3>
        </li>&nbsp;&nbsp;
        <small class="label label-primary">Edit</small>
    </ol>
    
    <div class="col-lg-10 col-md-10 products-blocks">

        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6">
                    Name: <br/> Amit Ghadge
                </div>
                <div class="col-xs-6">
                    Personal email: <br>amitg.b14@gmail.com
                    
                </div>
            </div>

            <div class="row">
                <br>
                <div class="col-xs-6">
                    Work Phone: <br>+91 7276432756
                    
                </div>
                <div class="col-xs-2">
                    Address: <br>242, 1/2 SRPF Gr-2
                                Pune
                                Pune, MH 411022
                                India
                    
                </div>
            </div>

        </div>
    </div>

    