
    <div class="row">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <h3>
                    <span class="label label-default">Overview</span>
                </h3>
            </li>
        </ol>
    </div>


    <div class="row products-blocks">
        <div class="col-lg-4 col-md-4 col-sm-4 active">
            <div class="panel panel-green">
                <div class="panel-body">
                    <div class="row">
                        <div class="text-center">
                            <h3>Active</h3>
                            <h3>3</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 warning">
            <div class="panel panel-yellow">
                <div class="panel-body">
                    <div class="row">
                        <div class="text-center">
                            <h3>Warning</h3>
                            <h3>2</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 critical">
            <div class="panel panel-red">
                <div class="panel-body">
                    <div class="row">
                        <div class="text-center">
                            <h3>Critical</h3>
                            <h3>1</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-plus">Add</span>
        </button>
        {% include 'add_certificate_modal.html' %}
    </div>
    
    <div class="row">
        <table id="cert_table" class="table table-hover">
            <thead>
                <tr>
                    <th>Added On</th>
                    <th>Host</th>
                    <th>Last Update</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>12 December 2017 11PM</td>
                    <td>abc.com</td>
                    <td>3s</td>
                </tr>

                <tr>
                    <td>1 January 2018 9AM</td>
                    <td>pqr.com</td>
                    <td>7s</td>
                </tr>

                <tr>
                    <td>19 March 2018 7PM</td>
                    <td>xyz.com</td>
                    <td>30s</td>
                </tr>

            </tbody>
        </table>
    </div>        
